h1{
	color: yellow;
	font-size:40px;
}
body{
	color:blue;
	background-color: lightgreen;
}
p{
	color:red;
}
.otherp{
	color:blue;
}
#para1{
	color: black
}
*{
	font-style:italic;
}
h2,h3{
	color: pink;
	font-style: normal;
}
